*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:serif;
}






header{
    min-height: 70px;
    background-color: #0084fd;
    min-width: max-content;
}


.Logo-Nav{
    width: 700px;
    min-height: 70px;
    display: flex;
    margin: auto;
    justify-content: space-between;
    align-items: center;
}


.Logo-Nav a{
    text-decoration: none;
    color: white;
    padding-right: 10px;
}

.Logo-Nav button{
    width: 90px;
    height: 30px;
    text-decoration: none;
    border-radius: 15px;
    border: none;
}






















.box-main-1{
    min-height: 600px;
}


.container-1{
    width: 700px;
    min-height: 515px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
}



.box-rettangolo{
    width: calc(680px / 3 * 2);
    height: 226px;
    border-radius: 15px;
    background-color: #b5ddff;
    display: flex;
}



.box-quadrato{
    width: calc(680px / 3);
    height: 226px;
    border-radius: 15px;
    background-color: #b5ddff;
    text-align: center;
    padding-top: 20px;
}


.size-font{
    font-size: 50px;
}


.box-quadrato i{
    color: #0084fd;
}


.box-quadrato h4{
    color: #0084fd;
}



.box-quadrato-interno{
    width: calc(680px / 3);
    height: 226px;
    padding-left: 20px;
    padding-top: 20px;
}


.box-quadrato-interno img{
    height: 204px;
}


.box-quadrato-interno button{
    width: 140px;
    height: 30px;
    border-radius: 15px;
    border: none;
    background-color: #0084fd;
    color: white;
}

.box-quadrato-interno h4{
    color: #0084fd;
}




.box-main-2{
    min-height: 700px;
    background-color: #9792e4;
    min-width: 700px;

}


.container-2{
    width: 700px;
    margin: auto;
    min-height: 600px;
    display: flex;
    align-items: end;
}


.rettangolo-vert{
    width: calc(100% / 2);
    height: 500px;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;

}


.rettangolo-vert img{
    height: 250px;
    margin: auto;
    
}



.rettangolo-vert-2{
    width: calc(100% / 2);
    height: 350px;
    border-radius: 30px;
    text-align: center;
    background-color: white;
}

.rettangolo-vert-2 img{
    height: 185px;
    padding-top: 10px;
}

.rettangolo-vert-2 button{
    height: 30px;
    width: 30px;
    border-radius: 15px;
    border: none;
    background-color: #9792e4;
}







.box-main-3{
    min-height: 900px;


}


.container-3{
    width: 700px;
    min-height: 800px;
    margin: auto;
    text-align: center;
    
    
}


.box-persone{
    width: 700px;
    height: 200px;
    display: flex;
    margin-top: 20px;
    background-color: #9792e4;
    border-radius: 30px;
   
}



.box-persone img{
    height: 150px;
    width: 150px;
    border-radius: 78px;

}


.foto{
    width:200px;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;

}

.testo{
    width: 500px;
    height: 200px;
    text-align: initial;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: white;

}




.container-3 h4{
    margin-top: 25px;
    margin-bottom: 5px;
}


.container-3 p{
    margin-top: 20px;
}


.container-3 h1{
    color: #9792e4;
}



.box-main-4{
    background-color: #9792e4;
    border: 1px solid black;
    min-width: 700px;
  
}

.container-4{
    width: 700px;
    margin: auto;
    display:flex;
    flex-wrap: wrap;
    justify-content: space-between;

}

.box-main-4 h1{
    text-align: center;
    margin-top: 25px;
    margin-bottom: 25px;
    color: white;
}


.box-quadrato-2{
    width: calc(680px / 3);
    height: 250px;
    margin-bottom: 25px;
    border-radius: 15px;
    background-color: white;
    padding-top: 25px;
    padding-left: 20px;
}

.box-quadrato-2 h2{
    color: #9792e4;
    font-size: 40px;
}

.box-quadrato-2 h3{
    color: #9792e4;
}




.box-quadrato-2 button{
    width: 100px;
    height: 30px;
    border: none;
    border-radius: 15px;
    background: #9792e4;
    color: white
}



.box-main-5{
    
}



.container-5{
    width: 700px;
    min-height: 500px ;
    margin: auto;
    display: flex;
    align-items: center;

}


.box-about-us{
    width: calc(100% / 3 * 2);
    min-height: 400px;

}



.box-about-us p{
    line-height: 30px;
}


.box-about-us h1{
    color: #9792e4;
}



.box-foto-about-us{
    width: calc(100% / 3);
    min-height: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
}


.box-foto-about-us img{
    height: 120px;
    width: 120px;
    border-radius: 60px;

}



.box-foto-about-us h3{
    color: #9792e4;
    padding-top: 20px;
}




.box-foto-about-us button{
    width: 140px;
    height: 30px;
    border: none;
    border-radius: 25px;
    margin-top: 20px;
    background-color: #9792e4;
    color: white;
}

.box-main-6{
    text-align: center;
    min-height: 450px;
    padding-top: 40px;
    background-color: #9792e4;
    min-width: 700px;
}


.box-main-6 button{
    width: 200px;
    height: 50px;
    border: none;
    border-radius: 25px;
    color: #9792e4;
}


.box-main-6 h5{
    color: white;
    opacity: 0.5;

}
.box-main-6 h2{
    color: white;

}
.box-main-6 p{
    color: white;

}

.box-main-6 h1{
    color: #fdc15f;
}

.box-main-6 a{
    color: white;
}














footer{
    background-color: #333;
    min-height: 150px;
    text-align: center;
    color: white;
    padding-top: 30px;
    min-width: 700px;
}


footer a{
    color: #9792e4;
}












@media screen and (max-width: 768px ) {

    body{
        width: 100%;
    }

    .box-rettangolo{
        flex-direction: column;
        margin-top: 20px;
        height: 450px;
    }

    .box-quadrato{
        height: 450px;
        margin-top: 20px;

    }

    .box-main-1{
        margin-bottom: 20px;
    }

    .container-2{
        flex-direction: column;
        align-items: initial;

    }

    .rettangolo-vert{
        flex-direction: column;
        width: 100%;

    }

    .rettangolo-vert-2{
        margin-bottom: 20px;
        width: 100%;

    }

    .rettangolo-vert-1 img{
        padding-top: 140px;
    }


    .box-quadrato-2{
        width: calc(680px / 2);
    }

    .container-4{
        justify-content: space-around;
    }

    .box-about-us{
        padding-left: 30px;
    }

   
 
}

